<body>
<article>
  <p>
    Example paragraph before picture
  </p>
  <figure>
    <img data-sizes = "single" src="img/example-280.jpg" width = "280" height = "288"
    alt = "A code illustration of static picture: Single">
       <img data-sizes = "double" src="img/example-600.jpg" width = "600" height = "680"
    alt = "A code illustration of static picture: Double">
  </figure>
  <p>
    Example paragraph after picture
  </p>
</article>
</body>
