<h1>This website is a non-commercial, only for running after lebor of a student who worked for and did not receive a small amount of money!</h1>
<p>All the e-mail traffic with James Feinberg- the commercial and accounting manager of ADG Europe- and Grantly Marshall the CEO will be announced in sense of their professional approach the their work!</p>

<article>
  <p>
    Example paragraph before picture
  </p>
  <figure>
    <img data-sizes = "single" src="img/example-280.jpg" width = "280" height = "288"
    alt = "A code illustration of static picture: Single">
       <img data-sizes = "double" src="img/example-600.jpg" width = "600" height = "680"
    alt = "A code illustration of static picture: Double">
  </figure>
    <p>
    Example paragraph after picture
  </p>

  
</article>
